.buttonQick{
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	background-color: white;
	border: 2px solid #000000;

	padding: 15px 32px;
	text-align: center;
	transition-duration: 0.4s;
	margin: 16px 0 !important;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}

.buttonQick:hover{
	background-color: #000000; /* Black*/
	color: white;
}

.buttonQick2{
	background-color: black;
	color: white;
	border: 2px solid black;
	padding: 15px 32px;
	text-align: center;
	margin: 16px 0 !important;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}

.buttonQick2:hover{
	opacity: .8;
}

#card-disabled{
	background: #dddddd;
}

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.card-box{
	background-color: #f1f1f1;
	width: 850px;
	height: 120px;
	padding: 10px;
	border: 5px solid white;
	margin: 0;
	vertical-align: middle;
}

.top-section{
	text-align: right;
}
